<div class="background-screen">
  <div align="center" class="header-align">
    <a href="" style="font-size: 42px;color: #fff;text-decoration: none;">Neutrino</a>
  </div>
  <div style="margin: 0 auto;width:40%;">
    <mat-card>
      <h1 class="title">Sign Up</h1>
      <form [formGroup]="signupForm" (ngSubmit)="signup(signupForm.value)" class="form-spacing">
             <mat-form-field class="example-full-width">
              <input formControlName="username" matInput placeholder="Username" minlength="3" maxlength="14" type="text" class="example-right-align">
              <span class="pd-8" matPrefix><mat-icon>perm_identity</mat-icon></span>
              <mat-error *ngIf="signupForm.controls['username'].hasError('required')">Username is required</mat-error>
              <mat-error *ngIf="signupForm.controls['username'].hasError('minlength')"> minimum 3 characters is required</mat-error>
              <mat-error *ngIf="signupForm.controls['username'].hasError('maxlength')">maximum 14 characters is allowed</mat-error>
              <mat-error *ngIf="signupForm.controls['username'].hasError('pattern')">Allowed characters are -,_,0-9,A-Z</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input formControlName="email" matInput placeholder="Email" (focus)="clearError()" (blur)="emailUnique()" type="text" class="example-right-align">
                <span class="pd-8" matPrefix><mat-icon>email</mat-icon></span>
                <mat-error *ngIf="signupForm.controls['email'].hasError('required')">Email is required</mat-error>
                <mat-error *ngIf="signupForm.controls['email'].hasError('pattern')">Email is invalid</mat-error>
                <mat-error *ngIf="signupForm.controls['email'].hasError('MatchEmail')">Email id is already taken</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input formControlName="password" matInput placeholder="Password" type="password" class="example-right-align">
                <span class="pd-8" matPrefix><mat-icon>lock</mat-icon></span>
                <mat-error *ngIf="signupForm.controls['password'].hasError('required')">Password is required</mat-error>
                <mat-error *ngIf="signupForm.controls['password'].hasError('minlength')">minimum 6 characters is required</mat-error>
                <mat-error *ngIf="signupForm.controls['password'].hasError('maxlength')">maximum 20 characters is allowed</mat-error>
                <mat-error *ngIf="signupForm.controls['password'].hasError('pattern')">Password must contain atleast one special character,uppercase,lowercase and digit</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input formControlName="confirmpassword" matInput placeholder="Confirm Password" type="password" class="example-right-align">
                <span class="pd-8" matPrefix><mat-icon>lock</mat-icon></span>
                <mat-error *ngIf="signupForm.controls['confirmpassword'].hasError('required')">Confirm Password is required</mat-error>
                <mat-error *ngIf="signupForm.controls['confirmpassword'].hasError('MatchPassword')">Password doesn't match</mat-error>
            </mat-form-field>
        <div class="bottom-button">
          <button [disabled]="disable" type="submit" mat-raised-button class="button_1 button-design">Sign Up</button>
        </div>
      </form>
    </mat-card>
  </div>
</div>